.accordian-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 500ms;
}

.accordian-content[aria-hidden="false"] {
	grid-template-rows: 1fr;
}

.accordian-content>div {
	overflow: hidden;
}

.accordian-panel {
	border: 1px solid;
	padding: 10px;
	margin: 30px;
	box-shadow: 5px 10px;
	cursor: pointer;
}

.accordian-panel:hover {
	background-color: gray;
}

.accordian-panel:focus {
	background-color: gray;
}

.accordian-trigger {
	background: none;
	border: none;
}
