{{define "content"}}
<div class='max-w-2xl mx-auto'>
	<h1 class='text-3xl font-bold mb-4'>Joe Mafrici</h1>
	<p class='mb-4'>I have a degree in Software Engineering Technology and a minor in Applied Mathematics from the Oregon
		Institute of Technology.</p>
	<p class="mb-4">I also like old books and rock climbing.</p>

	<ul>
		<li>
			<a class='hover:text-gray-600' href='/search' hx-get="/search" hx-push-url="true" hx-target="#content">Search
				Engine</a>
		</li>
		<li>
			<a class='hover:text-gray-600' href='/deployer' hx-get="/search" hx-push-url="true" hx-target="#content">Gapless
				Deployment Utility</a>
		</li>
		<li>
			<a class='hover:text-gray-600' href='/argo' hx-get="/argo" hx-push-url="true" hx-target="#content">End-To-End
				Encrypted Messaging</a>
		</li>
		<li>
			<a class='hover:text-gray-600' href='/gojoe' hx-get="/gojoe" hx-push-url="true" hx-target="#content">This
				Website</a>
		</li>
	</ul>

</div>
{{end}}
