{{define "content"}}
<div class='max-w-2xl mx-auto'>
	<h1 class='text-3xl font-bod mb-4'>gojoe</h1>
	<p class='mb-4'>I have a degree in Software Engineering Technology and a minor in Applied Mathematics from the Oregon
		Institute
		of Technology. Hire me.</p>
	<p class="mb-4">I also enjoy literature, philosophy and rock climbing</p>
	<div class="flex gap-1">
		<img class="size-40" src="../static/img/rockclimbing_fall.jpg"
			alt="Joe laying on back with legs in the air in rock climbing gym">
		<img class="size-40" src="../static/img/rockclimbing_jump.jpg"
			alt="Joe jumping across rock climing wall in rock climbing gym">
	</div>
	<div class='space-y-2'>
		<a class='text-blue-600 hover:underline' href="https://github.com/joemafrici/">My GitHub Profile</a>
		<br></br>
		<a class='text-blue-600 hover:underline block' href="https://x.com/joemafrici/">Follow me on X</a>
	</div>
</div>
{{end}}
