{{define "content"}}
<div class='max-w-2xl mx-auto'>
	<h1 class='text-3xl font-bod mb-4'>gojoe</h1>
	<p class='mb-4'>I have a degree in Software Engineering Technology and a minor in Applied Mathematics from the Oregon
		Institute
		of Technology. Hire me.</p>
	<div class='space-y-2'>
		<a class='text-blue-600 hover:underline' href="https://github.com/joemafrici/">My GitHub Profile</a>
		<br></br>
		<a class='text-blue-600 hover:underline block' href="https://x.com/joemafrici/">Follow me on X</a>
	</div>
</div>
{{end}}
