{{define "content"}}

<body>
	<main>
		<ul>
			<li class="font-bold">Encrypted Messaging</li>
			<ul class="list-disc list-inside">
				<li>End-to-end encrypted messaging app with TypeScript React frontend, Go backend and MongoDB database.
				</li>
				<li>Authentication with password hashing and JSON Web Tokens.
				</li>
				<li>Dockerized and deployed to Oracle Cloud using Docker-Compose.
				</li>
			</ul>
			<li class="font-bold">Search Engine</li>
			<ul class="list-disc list-inside">
				<li>Custom search engine written in Rust.</li>
				<li>Term Frequency-Inverse Document Frequency (TF-IDF) algorithm for ranking content</li>
				<li>Process txt, PDF and EPUB documents</li>
				<li>CLI and Web interface</li>
				<li>Search result snippet generation</li>
			</ul>
			<li class="font-bold">Flag Identifier</li>
			<ul class="list-disc list-inside">
				<li>iOS app written in Swift</li>
				<li>Google Cloud Vision API for flag identification</li>
			</ul>
		</ul>
	</main>
</body>
{{end}}
