{{ define "content"}}
<form hx-get="/search" hx-target="#search-results" hx-trigger="submit">
	<input class="text-custom-green p-2 bg-ghost-white shadow rounded border-solid border-2 border-my-black" type="text"
		name="query" placeholder="Enter search query"></input>
	<button class=" p-2 bg-custom-green shadow rounded border-solid border-2 border-my-black"
		type="submit">Search</button>
</form>
<div id="search-results"></div>
{{end}}
{{define "search_results"}}
{{if .}}
<h2>Search Results</h2>
{{range .}}
<p>{{.Filename}} {{.Similarity}}</p>
{{range .Snippets}}
<p>{{.}}</p>
{{end}}
{{end}}
{{end}}
{{end}}
